# Example
# - on Linux systems:
#     - eth0
#     - enx000000000000
# - on Windows systems:
#     - \Device\NPF_{00000000-0000-0000-0000-000000000000}
CAPTURE_DEVICE=

# The network to gather statistics for
#
# Example
# - 0.0.0.0/0      (all addresses)
# - 192.168.0.0/16 (entire /16 network)
# - 192.168.0.0/24 (entire /24 network)
# - 192.168.0.1/32 (single address)
CAPTURE_NETWORK=0.0.0.0
CAPTURE_PREFIX=0

# How often to store the gathered statistics, in seconds
COMMIT_INTERVAL=1200

# Database connection details
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=net_log
DB_USER=net_log
DB_PASS=

# The web client will serve content from http://<APP_HOST>:<APP_PORT><APP_URL>
#
# Example
# - 127.0.0.1 (accept local requests)
# - 0.0.0.0   (accept remote requests)
APP_HOST=127.0.0.1
APP_PORT=3254
APP_URL=/

# Title displayed by the web client
APP_TITLE=net-log
